/**
 * Colors
==================== */
/// List of Colors

$colors: (
  // base
  'primary': #333,
  'secondary': #06c,

  // gray
  'gray': #888,

  // main
  'bg': #f5f5f5,
  'text': #2a324b,
  'border': #ccc
) !default;

/**
 * Breakpoints
 ==================== */
/// List of Breakpoints
$breakpoints: (
  sm: 768,
  md: 1020,
  lg: 1400,
) !default;

/**
 * Design Sizes
==================== */
/// List of Design sizes
$design-sizes: (
  sp: 375,
  tb: 992,
  pc: 1440,
) !default;

/**
 * Spacing Units
==================== */
/// List of Spacing Units

$spacing-units: (
  xs: 8,
  sm: 16,
  md: 32,
  lg: 64,
  xl: 128,
  xxl: 256,
) !default;

/**
 * Font sizes
==================== */
/// List of Font Sizes
$font-sizes: (
  'sm': em(12),
  'md': 1em,
  'lg': em(24),
) !default;

/**
 * Font Families
==================== */
/// List of Font Families

$font-families: (
  'default': sans-serif,
  'en': sans-serif,
  'ja': sans-serif,
) !default;
